.main{
    width: 100%;
    padding: 50px;
}

.content-handler{
    width: 100%;
    display: flex;
    justify-content: center;
}

.fullname{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.contacts{
    text-align: center;
}