<div class="main">
  <div class="resume-form">
    <nav class="resume-navbar">
      <div class="profile-img-handler">
        <img class="profile-img" src="../assets/me.png" alt="profile image">
      </div>
      <div class="main-info-handler">
        <div class="content-saver">
          <h1 class="full-name">{{fullName}}</h1>
          <p class="sphare-name">{{sphere}}</p>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{lang}}
            </button>
            <ul class="dropdown-menu" data-bs-theme="dark">
              @for (lng of langs; track $index) {
                <li (click)="changeLang(lng)" class="dropdown-item">{{lng}}</li>
              }
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="main-body">
      <div class="primary-details-handler">
        <div class="inner-primary-details-handler">
          <h4 class="theme">{{contactDetails}}</h4>
          <ul class="contacts-handler">
            <li class="contacts">
              <p class="contatcs-sign"><i class="bi bi-envelope-at-fill"></i></p>
              <a href="https://abdukholiq23@gmail.com" target="_blank"
                class="contact-self">abdukholiq23&commat;gmail.com</a>
            </li>
            <li class="contacts">
              <p class="contatcs-sign"><i class="bi bi-telegram"></i></p>
              <a href="https://t.me/abu_programmiy" target="_blank" class="contact-self">&commat;abu_programmiy</a>
            </li>
            <li class="contacts">
              <p class="contatcs-sign"><i class="bi bi-telephone-fill"></i></p>
              <a href="tel:+998935382210" class="contact-self">+998 93 538 2210</a>
            </li>
          </ul>

          <h4 class="theme">{{education}}</h4>
          <ul class="education">
            <li class="education-description"><span class="course-name">Bootcamp .NET Course</span><br>Najot
              Ta'lim<br>{{chilanzar}}<br>06.2023 - 06.2024</li>
          </ul>

          <h4 class="theme">{{languages}}</h4>
          <ul class="languages">
            <li>{{english}} - <span class="language-level">{{englishLevel}}</span></li>
            <li>{{russian}} - <span class="language-level">{{russianLevel}}</span></li>
          </ul>
          <h4 class="theme">
            @if (lang=="O'zbekcha") {
              Ijtimoiy tarmoqlar
            }
            @else if (lang=="English") {
              Social media
            }
            @else if (lang=="Русский") {
              Социальные сети
            }
          </h4>
          <div class="social-media">
            <a href="https://www.youtube.com/@Abu_Programmiy" target="_blank"><h4 class="social-icons"><i class="bi bi-youtube"></i></h4></a>
            <a href="https://t.me/AbuProgrammiy" target="_blank"><h4 class="social-icons"><i class="bi bi-telegram"></i></h4></a>
          </div>
        </div>
      </div>
      <div class="secondary-details-handler">
        <div class="inner-secondary-details-handler">
          <h4 class="summary">{{summary}}</h4>
          <hr class="line">
          <p class="description-body">{{summaryBody}}</p>
          <h4 class="skills">
            @if (lang=="O'zbekcha") {
              Ko'nikmalar
            }
            @else if (lang=="English") {
              Skills
            }
            @else if (lang=="Русский") {
              Навыки
            }
          </h4>
          <hr class="line">
          <p class="description-body">
            C#, ASP.NET Core, Entity Framwork Core, PostgreSQL, MongoDB, Microservices, <br>
            HTML, CSS, SCSS, JavaScript, TypeScript
          </p>
          <h4 class="portfolio">{{portfolio}}</h4>
          <hr class="line">
          <ul class="description-body">
            <li class="project">
              @if (lang=="O'zbekcha") {
                <a class="link" href="https://roomify-polito.vercel.app" target="_blank"><strong>Roomify</strong></a> - Toshkentdagi Turin politexnika universiteti uchun taklif qilingan sinf xonalarini bron qilishni boshqarish loyihasi. Men shaxsan ushbu loyihaning <a class="link" href="https://github.com/Roomifly/Romify.Backend" target="_blank">backend</a> qismini tayyorlaganman.
              }
              @else if (lang=="English") {
                <a class="link" href="https://roomify-polito.vercel.app" target="_blank"><strong>Roomify</strong></a> - project about management of reservation class rooms proposed to University of Turin Polytechnic in Tashkent. Personally did the <a class="link" href="https://github.com/Roomifly/Romify.Backend" target="_blank">backend</a> side of this project.
              }
              @else if (lang=="Русский") {
                <a class="link" href="https://roomify-polito.vercel.app" target="_blank"><strong>Roomify</strong></a> - проект по управлению бронированием учебных помещений, предложенный для Туринскому политехническому университету в Ташкенте. Лично готовил <a class="link" href="https://github.com/Roomifly/Romify.Backend" target="_blank">бэкенд</a> этого проекта.
              }
            </li>
            <li class="project">
              @if (lang=="O'zbekcha") {
                <a class="link" href="https://tarvooz.more-info.uz" target="_blank"><strong>Tarvooz</strong></a> - savdo statistikasi haqida ma'lumot berishga ixtisoslashgan onlayn bozor. <a class="link" href="https://najottalim.uz/blog/163" target="_blank">Sharpist</a> musobaqasida <a class="link" href="https://t.me/AbuProgrammiy/75" target="_blank">1-o‘rinni</a> qo‘lga kiritdi.
              }
              @else if (lang=="English") {
                <a class="link" href="https://tarvooz.more-info.uz" target="_blank"><strong>Tarvooz</strong></a> - online marketplace specializing in providing information about sales statistics. Won <a class="link" href="https://t.me/AbuProgrammiy/75" target="_blank">1-place</a> in <a class="link" href="https://najottalim.uz/blog/163" target="_blank">Sharpist</a> battle.
              }
              @else if (lang=="Русский") {
                <a class="link" href="https://tarvooz.more-info.uz" target="_blank"><strong>Tarvooz</strong></a> - интернет-магазин, спецализрованный  на предоставлении информации о статистике продаж. Занял <a class="link" href="https://t.me/AbuProgrammiy/75" target="_blank">1-е место</a> в конкурсе <a class="link" href="https://najottalim.uz/blog/163" target="_blank">Sharpist</a>.
              }
            </li>
            <li class="project">
              @if (lang=="O'zbekcha") {
                <a class="link" href="https://t.me/PrayReminder_Bot" target="_blank"><strong>PrayReminderBot</strong></a> - namoz vaqtlarini eslatuvchi telegram <a class="link" href="https://github.com/AbuProgrammiy/PrayReminder" target="_blank">bot</a>.
              }
              @else if (lang=="English") {
                <a class="link" href="https://t.me/PrayReminder_Bot" target="_blank"><strong>PrayReminderBot</strong></a> - reminder of pray times <a class="link" href="https://github.com/AbuProgrammiy/PrayReminder" target="_blank">bot</a>.
              }
              @else if (lang=="Русский") {
                <a class="link" href="https://t.me/PrayReminder_Bot" target="_blank"><strong>PrayReminderBot</strong></a> - <a class="link" href="https://github.com/AbuProgrammiy/PrayReminder" target="_blank">бот</a> напоминание о времени молитвы.
              }
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>