<div class="main">
  <div class="resume-form">
    <nav class="resume-navbar">
      <div class="profile-img-handler">
        <img class="profile-img" src="../assets/me.png" alt="profile image">
      </div>
      <div class="main-info-handler">
        <div class="content-saver">
          <h1 class="full-name">{{fullName}}</h1>
          <p class="sphare-name">{{sphere}}</p>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{lang}}
            </button>
            <ul class="dropdown-menu" data-bs-theme="dark">
              @for (lng of langs; track $index) {
              <li (click)="changeLang(lng)" class="dropdown-item">{{lng}}</li>
              }
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="main-body">
      <div class="primary-details-handler">
        <div class="inner-primary-details-handler">
          <h4 class="theme">{{contactDetails}}</h4>
          <ul class="contacts-handler">
            <li class="contacts">
              <p class="contatcs-sign"><i class="bi bi-envelope-at-fill"></i></p>
              <a href="https://abdukholiq23@gmail.com" target="_blank"
                class="contact-self">abdukholiq23&commat;gmail.com</a>
            </li>
            <li class="contacts">
              <p class="contatcs-sign"><i class="bi bi-telegram"></i></p>
              <a href="https://t.me/abu_programmiy" target="_blank" class="contact-self">&commat;abu_programmiy</a>
            </li>
            <li class="contacts">
              <p class="contatcs-sign"><i class="bi bi-telephone-fill"></i></p>
              <a href="tel:+998935382210" class="contact-self">+998 93 538 2210</a>
            </li>
          </ul>

          <h4 class="theme">{{education}}</h4>
          <ul class="education">
            <li class="education-description"><span class="course-name">Bootcamp .NET Course</span><br>Najot
              Ta'lim<br>{{chilanzar}}<br>06.2023 - 06.2024</li>
            <li class="education-description"><span class="course-name">Pc
                Build</span><br>PROWEB<br>{{chilanzar}}<br>03.2023 - 05.2023</li>
            <li class="education-description"><span class="course-name">1-Kasb Hunar Maktabi</span>
              @if(lang=="O'zbekcha"){
              Toshkent tumani
              }
              @else if (lang=="English") {
              Tashkent district
              }
              @else if (lang=="Русский") {
              Ташкентский район
              }
              <br>03.2023 - 05.2023
            </li>
          </ul>

          <h4 class="theme">{{languages}}</h4>
          <ul class="languages">
            <li>{{english}} - <span class="language-level">{{englishLevel}}</span></li>
            <li>{{russian}} - <span class="language-level">{{russianLevel}}</span></li>
            <li>
              @if(lang=="O'zbekcha"){
              O'zbekcha
              }
              @else if(lang=="English") {
              Uzbek
              }
              @else if(lang=="Русский") {
              Русский
              }
              -
              <span class="language-level">
                @if(lang=="O'zbekcha"){
                Ona tili
                }
                @else if(lang=="English") {
                Native speaker
                }
                @else if(lang=="Русский") {
                Носитель языка
                }
              </span>
            </li>
          </ul>
          <h4 class="theme">
            @if (lang=="O'zbekcha") {
            Ijtimoiy tarmoqlar
            }
            @else if (lang=="English") {
            Social media
            }
            @else if (lang=="Русский") {
            Социальные сети
            }
          </h4>
          <div class="social-media">
            <a href="https://www.youtube.com/@Abu_Programmiy" target="_blank">
              <h4 class="social-icons"><i class="bi bi-youtube"></i></h4>
            </a>
            <a href="https://t.me/AbuProgrammiy" target="_blank">
              <h4 class="social-icons"><i class="bi bi-telegram"></i></h4>
            </a>
          </div>
        </div>
      </div>
      <div class="secondary-details-handler">
        <div class="inner-secondary-details-handler">
          <h4 class="summary">{{summary}}</h4>
          <hr class="line">
          <p class="description-body">{{summaryBody}}</p>
          <h4 class="skills">
            @if (lang=="O'zbekcha") {
            Yumshoq Ko'nikmalar
            }
            @else if (lang=="English") {
            Soft Skills
            }
            @else if (lang=="Русский") {
            Мягкие Навыки
            }
          </h4>
          <hr class="line">
          <p class="description-body">
            @if (lang=="O'zbekcha") {
              <strong>Muloqot:</strong> ma'lumotni aniq va samarali tarzda etkazish qobiliyati <br>
              <strong>Tanish-bilish:</strong> boshqalar bilan munosabatlarni o'rnatish va qo'llab-quvvatlash misoli <a target="_blank" class="link" href="https://youtu.be/Xrq2GTuE8dk?si=3IeME8Ivj815KSis">namuna</a> <br>
              <strong>Moslashuvchanlik:</strong> yangi vaziyatlarga moslashish, yondashuvingizda moslashuvchan bo'lish va o'zgarishlarni qabul qilish qobiliyati <br>
            }
            @else if (lang=="English") {
            <strong>Communication:</strong> The ability to convey information clearly and effectively  <br>
            <strong>Networking:</strong> Building and maintaining relationships with others <a target="_blank" class="link" href="https://youtu.be/Xrq2GTuE8dk?si=3IeME8Ivj815KSis">example</a> <br>
            <strong>Adaptability:</strong> The capacity to adapt to new situations, be flexible in your approach, and embrace change <br>
            }
            @else if (lang=="Русский") {
            <strong>Коммуникация:</strong> Коммуникация: способность четко и эффективно передавать информацию.  <br>
            <strong>Нетворкинг:</strong> Нетворкинг: построение и поддержание отношений с другими людьми <a target="_blank" class="link" href="https://youtu.be/Xrq2GTuE8dk?si=3IeME8Ivj815KSis">например</a> <br>
            <strong>Адаптивность:</strong> способность адаптироваться к новым ситуациям, быть гибким в своем подходе и принимать изменения. <br>
            }
          </p>
          <h4 class="skills">
            @if (lang=="O'zbekcha") {
            Qattiq Ko'nikmalar
            }
            @else if (lang=="English") {
            Hard Skills
            }
            @else if (lang=="Русский") {
            Жесткие Навыки
            }
          </h4>
          <hr class="line">
          <p class="description-body">
            C#, ASP.NET Core, Entity Framwork Core, Telegram Bot, PostgreSQL, MongoDB, Microservices, <br>
            IIS server, <br>
            HTML, CSS, SCSS, JavaScript, TypeScript
          </p>
          <h4 class="portfolio">{{portfolio}}</h4>
          <hr class="line">
          <ul class="description-body">
            <li class="project">
              @if (lang=="O'zbekcha") {
              <a class="link" href="https://roomify-polito.vercel.app" target="_blank"><strong>Roomify</strong></a> -
              Toshkentdagi Turin politexnika universiteti uchun taklif qilingan sinf xonalarini bron qilishni boshqarish
              loyihasi. Men shaxsan ushbu loyihaning <a class="link" href="https://github.com/Roomifly/Romify.Backend"
                target="_blank">backend</a>(ASP.NET Core) qismini tayyorlaganman.
              }
              @else if (lang=="English") {
              <a class="link" href="https://roomify-polito.vercel.app" target="_blank"><strong>Roomify</strong></a> -
              project about management of reservation class rooms proposed to University of Turin Polytechnic in
              Tashkent. Personally did the <a class="link" href="https://github.com/Roomifly/Romify.Backend"
                target="_blank">backend</a>(ASP.NET Core) side of this project.
              }
              @else if (lang=="Русский") {
              <a class="link" href="https://roomify-polito.vercel.app" target="_blank"><strong>Roomify</strong></a> -
              проект по управлению бронированием учебных помещений, предложенный для Туринскому политехническому
              университету в Ташкенте. Лично готовил <a class="link" href="https://github.com/Roomifly/Romify.Backend"
                target="_blank">бэкенд</a>(ASP.NET Core) этого проекта.
              }
            </li>
            <li class="project">
              @if (lang=="O'zbekcha") {
              <a class="link" href="https://hbd-polito.vercel.app" target="_blank"><strong>Happy Birthday
                  Polito</strong></a> -
              Turin politexnika universitetining zallarida bo'sh monitorlar bor. Shulardan unumli foydalanish maqsadida,
              joriy kunda o'quvchilar orasida kimni tug'ilgan kuni bo'lsa usha o'quvchilarni ko'rsatadi. Men uni <a
                target="_blank" class="link" href="https://github.com/AbuProgrammiy/hbd-polito">backend</a>(ASP.NET Core) qildim
              }
              @else if (lang=="English") {
              <a class="link" href="https://hbd-polito.vercel.app" target="_blank"><strong>Happy Birthday
                  Polito</strong></a> -
              There are empty monitors in the halls of the Polytechnic University of Turin. In order to make the most of
              them, it displays the students whose birthday is on the current day. I made it's <a target="_blank"
                class="link" href="https://github.com/AbuProgrammiy/hbd-polito">backend</a>(ASP.NET Core)
              }
              @else if (lang=="Русский") {
              <a class="link" href="https://hbd-polito.vercel.app" target="_blank"><strong>Happy Birthday
                  Polito</strong></a> -
              В залах Туринского политехнического университета пустые мониторы. Чтобы использовать их с максимальной
              пользой, он покажет ученикам, у кого сегодня день рождения среди учеников. Я сделал его <a target="_blank"
                class="link" href="https://github.com/AbuProgrammiy/hbd-polito">backend</a>(ASP.NET Core)
              }
            </li>
            <li class="project">
              @if (lang=="O'zbekcha") {
              <a class="link" href="https://tarvooz.more-info.uz" target="_blank"><strong>Tarvooz</strong></a> - savdo
              statistikasi haqida ma'lumot berishga ixtisoslashgan onlayn bozor. <a class="link"
                href="https://najottalim.uz/blog/163" target="_blank">Sharpist</a> musobaqasida <a class="link"
                href="https://t.me/AbuProgrammiy/75" target="_blank">1-o‘rinni</a> qo‘lga kiritdi. <a class="link"
                target="_blank" href="https://github.com/Tarvooz/Tarvooz.UI">frontend</a>(Angular) <a class="link"
                target="_blank" href="https://github.com/Tarvooz/Tarvooz.Backend">backend</a>(ASP.NET Core)
              }
              @else if (lang=="English") {
              <a class="link" href="https://tarvooz.more-info.uz" target="_blank"><strong>Tarvooz</strong></a> - online
              marketplace specializing in providing information about sales statistics. Won <a class="link"
                href="https://t.me/AbuProgrammiy/75" target="_blank">1-place</a> in <a class="link"
                href="https://najottalim.uz/blog/163" target="_blank">Sharpist</a> battle. <a class="link"
                target="_blank" href="https://github.com/Tarvooz/Tarvooz.UI">frontend</a>(Angular) <a class="link"
                target="_blank" href="https://github.com/Tarvooz/Tarvooz.Backend">backend</a>(ASP.NET Core)
              }
              @else if (lang=="Русский") {
              <a class="link" href="https://tarvooz.more-info.uz" target="_blank"><strong>Tarvooz</strong></a> -
              интернет-магазин, спецализрованный на предоставлении информации о статистике продаж. Занял <a class="link"
                href="https://t.me/AbuProgrammiy/75" target="_blank">1-е место</a> в конкурсе <a class="link"
                href="https://najottalim.uz/blog/163" target="_blank">Sharpist</a>. <a class="link" target="_blank"
                href="https://github.com/Tarvooz/Tarvooz.UI">frontend</a>(Angular) <a class="link" target="_blank"
                href="https://github.com/Tarvooz/Tarvooz.Backend">backend</a>(ASP.NET Core)
              }
            </li>
            <li class="project">
              @if (lang=="O'zbekcha") {
              <a class="link" href="https://t.me/PrayReminder_Bot" target="_blank"><strong>PrayReminderBot</strong></a>
              - 12 ta viloyat va Qoraqalpog'iston mintaqalaridagi namoz vaqtlarini o'z ichiga olgan holda kuniga 5 mahal
              namoz vaqtlarini eslatuvchi telegram bot. <a class="link" target="_blank"
                href="https://github.com/AbuProgrammiy/PrayReminder/tree/islomuzVersion">backend</a>(ASP.NET Core)
              }
              @else if (lang=="English") {
              <a class="link" href="https://t.me/PrayReminder_Bot" target="_blank"><strong>PrayReminderBot</strong></a>
              - A telegram bot that reminds you of 5 daily prayer times, including prayer times for 12 regions and the
              regions of Karakalpakstan. <a class="link" target="_blank"
                href="https://github.com/AbuProgrammiy/PrayReminder/tree/islomuzVersion">backend</a>(ASP.NET Core)

              }
              @else if (lang=="Русский") {
              <a class="link" href="https://t.me/PrayReminder_Bot" target="_blank"><strong>PrayReminderBot</strong></a>
              - Telegram-бот 5 раз в день напоминает время молитвы, в том числе в 12 областях и
              Каракалпакстана. <a class="link" target="_blank"
                href="https://github.com/AbuProgrammiy/PrayReminder/tree/islomuzVersion">backend</a>(ASP.NET Core)
              }
            </li>
            <li class="project">
              @if (lang=="O'zbekcha") {
              <a class="link" href="https://namoz-vaqtlari-api.more-info.uz" target="_blank"><strong>Namoz Vaqtlari
                  API</strong></a>
              - O'zbekistonda joylashgan 12 ta viloyat va Qoraqalpog'iston namoz vaqtlarini o'z ichiga olgan tekin API.
              <a class="link" target="_blank" href="https://github.com/AbuProgrammiy/Praytimes">frontend</a>(Angular) <a
                class="link" target="_blank"
                href="https://github.com/AbuProgrammiy/PrayReminder/tree/namozVaqtlariAPI">backend</a>(ASP.NET Core)
              }
              @else if (lang=="English") {
              <a class="link" href="https://namoz-vaqtlari-api.more-info.uz" target="_blank"><strong>Namoz Vaqtlari
                  API</strong></a>
              - Free API containing prayer times for 12 regions in Uzbekistan and Karakalpakstan. <a class="link"
                target="_blank" href="https://github.com/AbuProgrammiy/Praytimes">frontend</a>(Angular) <a class="link"
                target="_blank" href="https://github.com/AbuProgrammiy/PrayReminder/tree/namozVaqtlariAPI">backend</a>(ASP.NET Core)
              }
              @else if (lang=="Русский") {
              <a class="link" href="https://namoz-vaqtlari-api.more-info.uz" target="_blank"><strong>Namoz Vaqtlari
                  API</strong></a>
              - Бесплатный API, содержащий время молитв 12 областей и Каракалпакстана, расположенных в Узбекистане. <a
                class="link" target="_blank" href="https://github.com/AbuProgrammiy/Praytimes">frontend</a>(Angular) <a
                class="link" target="_blank"
                href="https://github.com/AbuProgrammiy/PrayReminder/tree/namozVaqtlariAPI">backend</a>(ASP.NET Core)
              }
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>