.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-main{
    width: 650px;
    margin-top: 50px;
}

.content-handler {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacts{
    text-align: center;
}

.thick-line {
    height: 4px;
    background: black;
}

.summary{
    text-align: center;
}

.job{
    font-weight: 700;
}

.thick-text{
    font-weight: 700;
}

.thin-line{
    height: 2px;
    background: black;
}

.width-33{
    width: 33%;
}

.text-align-center{
    text-align: center;
}

.link{
    color: black;
}

.project-description{
    width: 50%;
}

.margin-20{
    margin-top: 20px;
}

.education-name{
    text-align: start;
}

.education-date{
    text-align: end;
}

.education{
    display: flex;
}

.inner-education{
    width: 50%;
}