<div class="main">
    <div class="inner-main">
        <div class="content-handler">
            <h1>Abduxoliq Maxamadaminov</h1>
        </div>
        <div class="content-handler">
            <p class="contacts">+998-93-538-2210 • t.me/abu_programmiy • abdukholiq23&#64;gmail.com • github.com/abuprogrammiy • youtube.com/&#64;abuprogrammiy</p>
        </div>
        <hr class="thick-line">
        <div class="content-handler">
            <h6 class="job">FULL-STACK DEVELOPER</h6>
        </div>
        <p class="summary">With expertise in building modern web applications. Proficient in <span
                class="thick-text">.NET</span> for
            robust back-end development, and <span class="thick-text">Angular</span> for building dynamic and user-friendly
            interfaces.</p>
        <hr class="thin-line">
        <div class="content-handler">
            <div class="width-33">
                <h6 class="thick-text text-align-center">TECHNICAL SKILLS</h6>
                <p class="text-align-center">
                    .NET <br>
                    Telegram Bot <br>
                    Angular <br>
                </p>
            </div>
            <div class="width-33">
                <h6 class="thick-text text-align-center">SOFT SKILLS</h6>
                <p class="text-align-center">
                    <a target="_blank" href="https://youtu.be/Xrq2GTuE8dk?si=LJTpRZl94qXE-C7q" class="link">Networking</a>
                    <br>
                    Communication <br>
                    Adaptability <br>
                </p>
            </div>
            <div class="width-33">
                <h6 class="thick-text text-align-center">LANGUAGES</h6>
                <p class="text-align-center">
                    Uzbek - Native <br>
                    English - upper intermediate <br>
                    Russian - pre intermediate <br>
                </p>
            </div>
        </div>
        <hr class="thin-line">
        <h6 class="thick-text text-align-center">PROJECTS</h6>
        <h6 class="thick-text margin-20"><a target="_blank" class="link" href="https://roomify-polito.vercel.app">Roomify</a></h6>
        <p class="project-description">Management of reservation class rooms proposed to University of Turin Polytechnic in
            Tashkent.
            Personally did the backend(ASP.NET Core) side of this project.</p>
        <h6 class="thick-text margin-20"><a target="_blank" class="link" href="https://t.me/prayreminder_bot">Pray Reminder Bot</a></h6>
        <p class="project-description">A Telegram bot reminding you of 5 daily prayer times, covering 12 regions and
            Karakalpakstan. I built its backend using ASP.NET Core.
        </p>
        <h6 class="thick-text margin-20"><a target="_blank" class="link" href="https://namoz-vaqtlari-api.more-info.uz">Namoz Vaqtlari API</a></h6>
        <p class="project-description">Free API offering prayer times for 12 regions in Uzbekistan and Karakalpakstan.
            Developed with Angular for the frontend and ASP.NET Core for the backend.
        </p>
        <h6 class="thick-text text-align-center">EDUCATION</h6>
        <ul>
            <li class="education">
                <div class="inner-education">
                    <h6 class="thick-text education-name">NAJOT TA'LIM</h6>
                    <p>Bootcamp .NET Course</p>
                </div>
                <div class="inner-education">
                    <p class="education-date">June 2023 - June 2024</p>
                </div>
            </li>
            <li class="education">
                <div class="inner-education">
                    <h6 class="thick-text education-name">PROWEB</h6>
                    <p>Pc Build Course</p>
                </div>
                <div class="inner-education">
                    <p class="education-date">March 2023 - May 2023</p>
                </div>
            </li>
        </ul>
    </div>
</div>